.container {
  width: 100%;
}

.one {
  background-color: red;
}

.btn-warning {
  font-size: 6px;
  border: 1px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: yellow;
  color: black;
  font-weight: bold;
}

.two {
  font-weight: bold;
}

.search {
  font-weight: lighter;
}

.news {
  color: white;
  font-size: 30px;
}

.news_red {
  color: red;
}

.big {
  font-size: 30px;
}

.four {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .polaska,
  .pakistan,
  .usa,
  .edition {
    margin-right: -35px;
  }
}

@media (min-width: 1024px) {
  .six {
    font-size: 10px;
  }

  .col-lg-1-1 {
    max-width: 5%;
  }

  .col-lg-2-2 {
    max-width: 6.8%;
  }

  .col-lg-3-3 {
    max-width: 9.6%;
  }

  .col-lg-4-4 {
    max-width: 10.4%;
  }

  .col-lg-5-5 {
    max-width: 13.3%;
  }

  .col-lg-6-6 {
    max-width: 15.3%;
  }

  .co-lg-2-21 {
    max-width: 16%;
  }

  .col-lg-1-2 {
    max-width: 10%;
  }
}
