@font-face {
  font-family: Fraunces-font;
  src: url(./assets/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Fraunces-font-bold;
  src: url(./assets/static/Fraunces_72pt\,Soft-Bold.ttf);
}

footer {
  color: gray;
}

a {
  color: black;
  text-decoration: none;
}

svg {
  height: 35px;
}

.footer-links {
  color: gray;
  font-weight: 500;
}

.date {
  color: white;
}

.container {
  width: 100%;
  max-width: 100%;
  background-color: white;
}

.one {
  background-color: #f72210;
  max-width: 100%;
}

.btn-warning {
  font-size: 6px;
  border: 1px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  background: yellow;
  color: black;
  font-weight: bold;
}

.nav-login-text {
  color: white;
  font-size: 1.3rem;
}

.nav-subscribe-button {
  font-size: 0.8rem;
}

.two {
  font-weight: bold;
}

.gray {
  color: gray;
  font-size: 11px;
}

.images-float-left {
  float: left;
}

.images-float-right {
  float: right;
}

.search {
  font-weight: lighter;
}

.news {
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: Fraunces-font-bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.news_red {
  fill: #f72210;
}

.big {
  font-size: 2.5rem;
  font-family: Fraunces-font-bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.three {
  font-size: 0.9rem;
  font-style: bolder;
  color: gray;
}

.footer-copyright {
  font-size: 0.8rem;
}

.edition {
  color: black;
}

.footer-links,
.edition {
  font-size: 0.9rem;
}

.four {
  display: flex;
  align-items: center;
}

.six {
  font-size: 0.8rem;
}

.break::after {
  content: "\a\a";
  white-space: pre;
}

.debra {
  position: relative;
}

.tdebate {
  margin-top: 20px;
  border-bottom: 2px solid gray;
}

.pic_text {
  margin-top: 15px;
  border-bottom: 6px solid gray;
  padding-bottom: 120px;
  margin-bottom: 15px;
  position: relative;
  height: 110px;
}

.gray-text {
  color: gray;
  font-size: 11px;
}

.by {
  margin-left: 63px;
  margin-bottom: 6px;
  font-size: 11px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -16px;
  left: 45%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 13px;
}

.opinion {
  border-bottom: 2px solid gray;
}

.square {
  position: absolute;
  background-color: white;
  width: 30%;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bolder;
}

.square-all {
  position: absolute;
  width: 70%;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.square-insight {
  background-color: aliceblue;
  color: blue;
}

.square-magazine {
  background-color: white;
  color: red;
}

.button-tag-magazine-page {
  color: white;
  background-color: red;
  font-size: 1.1rem;
  font-weight: bolder;
}

.arrow-right-small {
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  vertical-align: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.tag-magazine-page {
  color: red;
  font-size: 1.1rem;
  font-weight: bolder;
}

.magazine-all-features {
  background-color: gainsboro;
}

.square-travel {
  position: absolute;
  background-color: lavender;
  width: 40%;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: black;
}

.relative-img {
  position: relative;
}

.main-headings {
  color: gray;
  margin-top: 5%;
}

.content-my-turn {
  color: gray;
  font-size: 0.9rem;
  line-height: 1rem;
}

.images-my-turn {
  height: 150px;
}

.mit {
  display: relative;
}

.UStitle {
  color: red;
  font-weight: bolder;
  font-size: 1.2rem;
}

.Us-small-text {
  font-size: 1rem;
  line-height: 1rem;
}

.subscribe-title {
  color: red;
  font-weight: bolder;
  font-size: 0.85rem;
}

.subscribe-title-description {
  font-size: 1.2rem;
  font-weight: bolder;
}

.subscribe-description {
  font-size: 0.9rem;
}

.subscribe-button {
  border: 0;
  background-color: red;
}

.newsletter-title {
  font-size: 1.3rem;
  line-height: 1.1rem;
}

.newsletter-button {
  border: 0;
  padding: 2px;
  background-color: red;
  color: white;
}

.newsletter-description {
  font-size: 0.9rem;
  line-height: 1rem;
}

.background-gainsboro {
  background-color: #f4f5f6;
}

.featured {
  color: gray;
  margin-top: 5%;
}

.heading {
  font-size: 17px;
  font-weight: bold;
}

.content {
  font-size: 13px;
  margin-top: 5%;
}

.hidden_mob {
  display: none;
}

.fe {
  top: auto;
}

.turns {
  display: flex;
}

.up {
  margin-top: 1%;
}

.bheading {
  font-weight: bold;
}

.text {
  font-size: 11px;
}

.sight {
  margin-top: -1px;
  width: 50%;
  color: blue;
}

.last_opnion {
  margin-bottom: 25%;
}

.margin_top {
  margin-top: 25px;
}

.nstorty img {
  width: 100%;
}

.apple {
  padding-top: 5%;
  padding-bottom: 5%;
}

.image_banner {
  position: relative;
}

.apple img {
  width: 10%;
  margin-right: 3%;
}

.tdate {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 50%;
  color: red;
  display: flex;
  justify-content: center;
}

.features {
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
}

.cover_news {
  display: flex;
  align-items: center;
}

.nnews {
  color: red;
}

.cover {
  margin-left: 3%;
  margin-right: 7%;
  background-color: red;
  color: white;
  padding: 5%;
}

.fbi {
  margin-left: 2%;
  margin-bottom: 4%;
}

.wcover {
  margin-left: 3%;
  padding: 2%;
}

.nusa {
  font-size: 1.2rem;
  color: red;
  margin-top: 10%;
  margin-bottom: 2%;
  font-weight: bold;
  margin-left: 3%;
}

.tiger {
  display: flex;
  padding-top: 10%;
}

.tiger img {
  width: 40%;
  padding-right: 5%;
  height: 20vh;
}

.subscribe {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  background-color: red;
  margin-left: 10px;
  height: 40px;
  font-size: 12px;
}

.btn-primary {
  color: gray;
  background-color: transparent;
  border-color: gray;
  margin-right: 3%;
}

.nmobile img {
  height: 30vh;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 60px;
}

.exec {
  margin-left: 3%;
}

.card {
  background-color: #f4f5f6;
  width: 90%;
  margin-left: 5%;
  height: 85vh;
}

.ar {
  margin-left: 40px;
  padding-top: 15px;
}

.arabia {
  margin-bottom: 8%;
}

.pweek {
  position: absolute;
  top: 30px;
  left: 130px;
}

.heading-2-text {
  color: gray;
}

.read {
  padding-top: 37px;
}

body {
  background-color: #f4f5f6;
}

nav {
  background-color: white;
}

body a {
  color: black;
}

a:hover {
  color: #f72210;
  cursor: pointer;
  text-decoration: none;
}

.footer-links:hover {
  color: black;
}

h6 {
  color: #818181;
}

@media (min-width: 768px) {
  .polaska,
  .pakistan,
  .usa,
  .edition {
    margin-right: -35px;
  }

  .one {
    width: 100%;
  }

  .newsletter-email {
    font-size: 0.8rem;
    color: gray;
  }

  .turn img {
    width: 90%;
  }

  .turns {
    display: flex;
  }

  .deb {
    margin-top: -30px;
  }

  .sight {
    margin-left: -30px;
    margin-top: -35px;
    width: 70%;
    color: blue;
  }

  .img-magazine-height-desktop {
    height: 250px;
  }

  .img-magazine-page-height-desktop {
    height: 200px;
  }

  .square {
    top: auto;
  }

  .hidden {
    display: none;
  }

  .hidden_mob {
    display: block;
  }

  .top {
    margin-top: 3%;
  }

  .pos {
    margin-top: -35px;
  }

  .posi {
    margin-top: 3%;
  }

  .turn {
    font-size: 12px;
  }

  .more_stories {
    margin-top: 6%;
  }

  .nstorty img {
    width: 30%;
    padding-right: 2%;
    padding-top: 2%;
  }

  .mobile_photos img {
    width: 20%;
  }

  .mob-story {
    background-color: blue;
  }

  .n-logo-small {
    width: 27px;
    height: 27px;
  }

  .width {
    width: 75vw;
    border-bottom: 1px solid gray;
  }
}

@media (min-width: 992px) {
  .six {
    font-size: 10px;
  }

  .newsletter-email {
    font-size: 0.86rem;
    font-weight: 500;
    color: gray;
  }

  .subscribe-title-description {
    font-size: 1.4rem;
  }

  .col-lg-1-1 {
    max-width: 5%;
  }

  .col-lg-2-2 {
    max-width: 6.8%;
  }

  .col-lg-3-3 {
    max-width: 9.6%;
  }

  .col-lg-4-4 {
    max-width: 10.4%;
  }

  .col-lg-5-5 {
    max-width: 13.3%;
  }

  .col-lg-6-6 {
    max-width: 15.3%;
  }

  .co-lg-2-21 {
    max-width: 16%;
  }

  .col-lg-1-2 {
    max-width: 10%;
  }

  .hidden_desk {
    display: none;
  }

  .img-magazine-height-desktop {
    height: 300px;
  }

  .img-magazine-page-height-desktop {
    height: 250px;
  }

  .news {
    font-size: 3.4rem;
  }

  .fe {
    top: auto;
  }

  .square {
    top: auto;
  }

  .n-logo-small {
    width: 30px;
    height: 30px;
  }

  .one {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
